table{
    tbody{
        td{
            button.btn {
                padding: 0.175rem .60rem;
                i{
                    margin: 0;
                }
            }
        }
    }
}


form{
    width: 500px;
    padding: 15px;
    background: #ddd;
    margin: 100px auto;
    h4{
        text-align: center;
    }
}


.subcategoryimg{
    width: 100px;
    height: 30px;
}